@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1566391121834'); /* IE9 */
  src: url('iconfont.eot?t=1566391121834#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABjQAAAJLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAWwE2AiQDCAsGAAQgBYRtBzAbgQUR1YtPsj9AGWM7aAYiZmXO3VmYvstZ9zF/eBD4JTRAAgkUAAAAABAPT2v/O3dm9v35pkmRBC/S3aNqErEEjRIJxUIiizXRkDcBZQDuf26YREK5RJvGPdqsY31yX6e3w0KhAfSYyyUMVX1TsIHe6geLKEBJw/VVFoMGXFM/gR5kdUBz66So5EjAgU0H2oFrso1k5BvGLniB5wn0mdUVa9Zt2aMq7GmBOHvqxCG1EFAUlq5Cp2FtEc81anqakmfR9+Ovo5I0mV214/jao1b8mHKy8p2WvQEhSECbG2R0UYg9jYltsmBc1pcoFnKs8uCHtg3s4qgWwf46u3QATEPpM8m8DQIkUJLBYUxNegyp9F81FNcn8bAYyH0nXgz+NabVu3a9/578Pvyl/4dZAVrZbAWCV91crscCPi7qaxWGuah7cAZ/QjawoxgK25aKJmt0JcOTpib06UMb9oz5NtU4edpMqCZP7uoxkyGrFpOF7aLRbxk6quXos9T6zf3GnZNF6cUSDwHCiJdIhrxFNuIdWdivaEz5j46RyOijPeO059E59CEmLBhrKH+gq74TroMPcfkV5aspKK+IeE+kSYchcP1yOscOaYkF01uGzAIE9S1k4DJsmh4G6g1W7CrmIfI80fQmt+rb2UGMoAJDNVD6AVql1xFBf3aofP4KSS+NAnXU1MWfEJno4UHA5Q8gc203qOZRrpm8SSHGBCCQXgtkYBRqNHpgaB5loApzqQmxQcRzeomhWnd7ffsDJawB25TCyck2F17OA1tmMwAAAA==') format('woff2'),
  url('iconfont.woff?t=1566391121834') format('woff'),
  url('iconfont.ttf?t=1566391121834') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1566391121834#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tu-svg:before {
  content: "\e616";
}

